
<body id="regbg">
  <div class="">
    <ul>
      <li style="color:white; margin-top:15px; margin-left:12px;  font-weight:bolder;">ADDCENTERS</li>
      <li style="float:right"><a class="active" href="/login">LOGOUT</a></li>
      <li style="float:right"><a class="active" href="/adm">ADMINPAGE</a></li>
      <li style="float:right"><a class="active" href="/vacci">CENTRE_DETAILS</a></li>
      <li style="float:right"><a class="active" href="/regist">REGISTER</a></li>
      <li style="float:right"><a class="active" href="/details">REGISTRATION_DETAILS</a></li>
    </ul>
  


  <br><br>
  <div class="form box">
    <h1 style="color:Darkblue">ENTER THE DETAILS</h1>
      <form class="fm"action="/added" method="POST">
        <input type="text"id="name" name="name" placeholder="Centre Name"  required><br><br>
        <input type="text"  id="addres" name="address"placeholder="ADDRESSS" required> &nbsp; &nbsp; &nbsp;<br><br>
        <input type="text" id="district" name="district" placeholder="DISTRICT" required><br><br>
        <input type="text"  id="work" name="worktime" placeholder="WORKINGTIME"mrequired><br><br>
        <input type="number"  id="center" name="covishield" placeholder="Covishield(per day)" required><br><br>
        <input type="number"  id="center" name="covaxin" placeholder="Covaxin(per day)" required><br><br><br>
        <a href=""><input type="submit" name="" id="" value="SUBMIT"></a>
      </form>
  </div>
</div>
</body>




















<body>
    
</body>