<body>
  <div class="">
    <ul>
      <li style="color:white; margin-top:15px; margin-left:12px;  font-weight:bolder;">ADMINDPAGE</li>
      <li style="float:right"><a class="active" href="/login">LOGOUT</a></li>
      <li style="float:right"><a class="active" href="/adm">ADMINPAGE</a></li>
      <li style="float:right"><a class="active" href="/vacci">CENTRE_DETAILS</a></li>
      <li style="float:right"><a class="active" href="/regist">REGISTER</a></li>
      <li style="float:right"><a class="active" href="/details">REGISTRATION_DETAILS</a></li>
    </ul>
  <div class="p">
    <div class="c"><a href="/vacci" class="link">VACCINATION CENTRE DETAILS</a></div>
    <div class="c"><a href="/details"class="link">REGISTRATION DETAILS</a></div>
  </div>
  </div>
</body>