<ul>
    <li style="color:white; margin-top:15px; margin-left:12px;  font-weight:bolder;">VACCINATION CAMP DETAILS</li>
    <li style="float:right"><a class="active" href="/admin-login">ADMIN</a></li>
    <li style="float:right"><a class="active" href="/login">LOGIN</a></li>
    <li style="float:right"><a class="active" href="/signup">SIGNUP</a></li>
    <li style="float:right"><a class="active" href="/">HOME</a></li>
</ul>
<h1>CORONAVIRUS DISEASE</h1>
 <img id="covid" src="/image/covid.jpeg"><br><b></b>
   <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.
Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. 
The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. <br><br>Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it’s your turn and follow local guidance. <br><br>
The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols. It is important to practice respiratory etiquette, for example by coughing into a flexed elbow, and to stay home and self-isolate until you recover if you feel unwell.</p>
<br><br>
<h1>SYMPTOMS OF CORONA</h1>
<ul id="ul">
    <li>Fever.</li><br>
    <li>Sore throat.</li><br>
    <li>Running nose.</li><br>
    <li>Cough.</li><br>
    <li>Body ache.</li><br>
    <li>Myalgia (muscle pain or aches)</li><br>
    <li>Fatigue.</li><br>
    <li>Diarrhea.</li><br>
</ul>

<h1>VACCINE DETAILS</h1>
<h2>1.Covaxin</h2>
<p>Covaxin is an inactivated viral vaccine. This vaccine is developed with Whole-Virion Inactivated Vero Cell-derived technology. They contain inactivated viruses, which can not infect a person but still can teach the immune system to prepare a defence mechanism against the active virus.</p>
<h2>Dosage details:</h2>
<p>It requires two dosage</p>
<p>The second dose of Covaxin is scheduled after 4-6 weeks after the first dose</p>
<h2>Side Effects:</h2>
<p>After getting vaccinated, you may experience pain at the site of injection. Some people may also experience side effects such as headaches, joint pain and may feel feverish. These side effects do not persist for long and generally go within a day or two.</p>

<h2>2.Covishield:</h2>
<p>Covishield has been prepared using the viral vector platform which is a totally different technology.
A chimpanzee adenovirus – ChAdOx1 – has been modified to enable it to carry the COVID-19 spike protein into the cells of humans. Well, this cold virus is basically incapable of infecting the receiver but can very well teach the immune system to prepare a mechanism against such viruses.
The exact technology was used to prepare vaccines for viruses like Ebola.</p>

<h2>Dosage details:</h2>
<p>It requires two dosage</p>
<p>The second dose of Covaxin is scheduled after 12-16 weeks or 84 days after the first dose</p>

<h2>Side Effects:</h2>
<p>After getting vaccinated, you may experience pain at the site of injection. Some people may also experience side effects such as headaches, joint pain and may feel feverish. These side effects do not persist for long and generally go within a day or two.</p>