<body id="home">
  <div class="split left">
    <q> The vaccines protect you!!!</q>
     
  </div>
  <div class="split right">
    <ul>
      <li style="color:white; margin-top:15px; margin-left:12px;  font-weight:bolder;">VACCINATION CAMP DETAILS</li>
      <li style="float:right"><a class="active" href="/admin-login">ADMIN</a></li>
      <li style="float:right"><a class="active" href="/login">LOGIN</a></li>
      <li style="float:right"><a class="active" href="/signup">SIGNUP</a></li>
      <li style="float:right"><a class="active" href="/">HOME</a></li>
    </ul>
  <div id="big-div">
    <div id="float">
      <div>
        <img id="s1" src="/image/covid.jpeg">
        <br>
        <a href="/covid"><input type="button" id="covid-btn"  value="COVID 19"></a>
      </div>
      <div>
        <img id="s1" src="/image/hos.jpg">
        <br>
        <a href="/vaccination_center"><input type="button" id="covid-btn"  value="VACCINATION CENTERS"></a>
      </div>
      <div>
        <img id="s1" src="/image/reg.jfif">
        <br>
        <a href="/login"><input type="button" id="covid-btn"  value="VACCINE REGISTRATION"></a>
      </div>
    </div>
</div>
</div>
</body>