<body id="home">
  <div class="split left">
   <q> The vaccines protect you!!!</q>
     
  </div>

  <div class="split right">
    <ul>
     <li style="color:white; margin-top:15px; margin-left:12px;  font-weight:bolder; height:40px; ">User Login</li>
     <li style="float:right"><a class="active" href="/admin-login">ADMIN</a></li>
     <li style="float:right"><a class="active" href="/login">LOGIN</a></li>
     <li style="float:right"><a class="active" href="/signup">SIGNUP</a></li>
     <li style="float:right"><a class="active" href="/">HOME</a></li>
    </ul>
  <div class="wrapper">
       <br>
        <form class="p-3 mt-3" action="/login" method="POST">
        <h1 id="head" style="color: #039BE5; margin:30px 0px 0px 30px ">LOGIN HERE!!</h1>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" required>
            </div>
            <br>
            <button class="btn mt-3">Login</button>
        </form>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dont Have an Account?<a href="/signup">&nbsp;CREATE ACCOUNT</a>
        <br>
    </div>
    {{#if message}}
<script>
    window.onload=function(){
        alert('{{message}}');
    };
</script>
{{/if}}
</div>
</body>